## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,80.58,76,40,5.99,light rain
1,1,Saldanha,ZA,-33.0117,17.9442,57.99,77,0,14.90,clear sky
2,2,Hilo,US,19.7297,-155.0900,78.28,87,90,4.61,moderate rain
3,3,Butaritari,KI,3.0707,172.7902,81.41,73,12,12.12,few clouds
4,4,Yellowknife,CA,62.4560,-114.3525,36.41,99,90,5.75,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,80.58,76,40,5.99,light rain
2,2,Hilo,US,19.7297,-155.0900,78.28,87,90,4.61,moderate rain
3,3,Butaritari,KI,3.0707,172.7902,81.41,73,12,12.12,few clouds
11,11,Novo Aripuana,BR,-5.1206,-60.3797,78.53,83,99,5.14,overcast clouds
12,12,Carutapera,BR,-1.1950,-46.0200,83.71,69,14,9.15,few clouds
15,15,Atuona,PF,-9.8000,-139.0333,78.06,77,81,18.63,light rain
19,19,Key West,US,24.5557,-81.7826,87.80,62,20,6.91,few clouds
21,21,Samarai,PG,-10.6167,150.6667,82.13,80,100,11.43,overcast clouds
22,22,Arrecife,ES,28.9630,-13.5477,75.18,83,0,6.91,clear sky
26,26,Delvada,IN,20.7667,71.0333,77.18,69,42,12.50,scattered clouds

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.notnull().sum()

City_ID                220
City                   220
Country                220
Lat                    220
Lng                    220
Max Temp               220
Humidity               220
Cloudiness             220
Wind Speed             220
Current Description    220
dtype: int64

In [7]:
preferred_cities_df.count()

City_ID                220
City                   220
Country                220
Lat                    220
Lng                    220
Max Temp               220
Humidity               220
Cloudiness             220
Wind Speed             220
Current Description    220
dtype: int64

In [8]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [9]:
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,80.58,76,40,5.99,light rain
2,2,Hilo,US,19.7297,-155.0900,78.28,87,90,4.61,moderate rain
3,3,Butaritari,KI,3.0707,172.7902,81.41,73,12,12.12,few clouds
11,11,Novo Aripuana,BR,-5.1206,-60.3797,78.53,83,99,5.14,overcast clouds
12,12,Carutapera,BR,-1.1950,-46.0200,83.71,69,14,9.15,few clouds
...,...,...,...,...,...,...,...,...,...,...
702,702,Pacific Grove,US,36.6177,-121.9166,75.58,78,1,4.00,clear sky
704,704,Buriti Dos Lopes,BR,-3.1750,-41.8669,87.55,64,82,11.56,broken clouds
706,706,Ishigaki,JP,24.3448,124.1572,75.76,69,89,19.91,overcast clouds
714,714,Lake Charles,US,30.2131,-93.2044,75.18,33,1,6.91,clear sky
716,716,Takoradi,GH,4.8845,-1.7554,79.20,85,47,10.87,scattered clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,80.58,light rain,22.0752,-159.3190,
2,Hilo,US,78.28,moderate rain,19.7297,-155.0900,
3,Butaritari,KI,81.41,few clouds,3.0707,172.7902,
11,Novo Aripuana,BR,78.53,overcast clouds,-5.1206,-60.3797,
12,Carutapera,BR,83.71,few clouds,-1.1950,-46.0200,
15,Atuona,PF,78.06,light rain,-9.8000,-139.0333,
19,Key West,US,87.80,few clouds,24.5557,-81.7826,
21,Samarai,PG,82.13,overcast clouds,-10.6167,150.6667,
22,Arrecife,ES,75.18,clear sky,28.9630,-13.5477,
26,Delvada,IN,77.18,scattered clouds,20.7667,71.0333,

In [12]:
len(hotel_df)

220

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.

In [18]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,80.58,light rain,22.0752,-159.3190,Kapaʻa
2,Hilo,US,78.28,moderate rain,19.7297,-155.0900,Hilo
3,Butaritari,KI,81.41,few clouds,3.0707,172.7902,Ukiangang
11,Novo Aripuana,BR,78.53,overcast clouds,-5.1206,-60.3797,Novo Aripuanã
12,Carutapera,BR,83.71,few clouds,-1.1950,-46.0200,Carutapera
15,Atuona,PF,78.06,light rain,-9.8000,-139.0333,Atuona
19,Key West,US,87.80,few clouds,24.5557,-81.7826,Key West
21,Samarai,PG,82.13,overcast clouds,-10.6167,150.6667,Magesina
22,Arrecife,ES,75.18,clear sky,28.9630,-13.5477,Arrecife
26,Delvada,IN,77.18,scattered clouds,20.7667,71.0333,Una

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# By Abideen Alabede